.game {
    margin: auto;
    text-align: center;
}
.board {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: auto;
}
#main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    height: 600px;
    width: 800px;
    border: 1px solid black;
    margin: 10px;
    overflow: hidden;
  }
  .object {
      float: left;
      margin: auto;
  }